= form_for schedule do |f|
  .row.mb-3
    = f.label :day, class: 'col-form-label col-12 col-md-2 col-lg-1'
    .col-12.col-md-4.col-lg-2
      = f.collection_select :day, schedule.available_days, :to_s, :to_s, {}, class: 'form-select'

  .row.mb-3
    = f.label :time, class: 'col-form-label col-12 col-md-2 col-lg-1'
    .col-12.col-md-2
      = f.text_field :time, class: 'form-control'

  .row.mb-3
    = f.label :location_id, class: 'col-form-label col-12 col-md-2 col-lg-1'
    .col-12.col-md-4
      = f.collection_select :location_id, @locations, :id, :name, {}, class: 'form-select'

  .row
    .col-12.offset-md-2.col-md-10.offset-lg-1.col-lg-11
      = f.submit class: 'btn btn-primary'
      = link_to 'Go Back', games_path, class: 'btn btn-link'
