= form_for game, class: 'form-horizontal' do |f|
  .form-group.row
    = f.label :location, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-4
      = f.text_field :location, class: 'form-control'

  .form-group.row
    = f.label :starts_at, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-6
      = f.datetime_select :starts_at, {}, class: 'form-control form-control-sm mb-1'

  .form-group.row
    .col-12.offset-md-2.col-md-10
      = f.submit class: 'btn btn-primary'
      = link_to 'Go Back', (game.new_record? ? games_path : game), class: 'btn btn-link'
