= form_for game do |f|
  .row.mb-3
    = f.label :location, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-4
      = f.collection_select :location_id, @locations, :id, :name, {}, class: 'form-select'

  .row.mb-3
    = f.label :starts_at, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-3
      = f.datetime_select :starts_at, {}, class: 'form-select mb-1'

  .row
    .col-12.offset-md-2.col-md-10
      = f.submit class: 'btn btn-primary'
      = link_to 'Go Back', (game.new_record? ? games_path : game), class: 'btn btn-link'
