.game-details
  %dl
    %dt When
    %dd= @game.date
    %dd.muted= @game.relative_date

    - unless @game.default_location?
      %dt Where
      %dd= @game.location

    %dt
      - if @game.canceled?
        Who Signed Up
      - elsif @game.upcoming?
        Who’s In
      - else
        Who Played
    %dd
      = @game.players(true)
      %strong= "(#{pluralize @game.confirmed_players.count, 'player'})"

    %dt= @game.upcoming? ? "Who’s Out" : "Who Declined"
    %dd= @game.players(false)

  - if @game.upcoming? && @game.on?
    %p
      = link_to game_path(@game, format: 'ics') do
        = content_tag(:i, nil, class: 'icon-calendar')
        Add it to your calendar

= render 'player_actions' if @game.upcoming? && @game.on? && @player.present?
= render 'admin_actions' if authorizer.admin?

