%h3.mb-3= pluralize game.confirmed_players.size, 'player'

.game-details
  %dl.row
    %dt.col-12.col-md-2 When
    %dd.col-12.col-md-10
      %p.mb-0= game.date
      %p.mb-0.text-muted= game.relative_date

    - unless game.default_location?
      %dt.col-12.col-md-2 Where
      %dd.col-12.col-md-10= game.location.link

    %dt.col-12.col-md-2
      - if game.canceled?
        Who Signed Up
      - elsif game.upcoming?
        Who’s In
      - else
        Who Played
    %dd.col-12.col-md-10
      = game.confirmed_player_names

    %dt.col-12.col-md-2= game.upcoming? ? "Who’s Out" : "Who Declined"
    %dd.col-12.col-md-10= game.declined_player_names

  - if game.upcoming? && game.on?
    %p= game.calendar_link

- if game.upcoming? && game.on? && player.present?
  %hr
  = render 'player_actions'

- elsif authorizer.admin?
  %hr
  = render 'admin_actions' if authorizer.admin?

