.game-details
  %dl
    %dt When
    %dd= game_date(@game)
    %dd.muted= relative_date(@game.starts_at)

    %dt Where
    %dd= @game.location

    %dt= @game.upcoming? ? "Who’s In" : "Who Played"
    %dd= game_players(@game, true)

    %dt= @game.upcoming? ? "Who’s Out" : "Who Declined"
    %dd= game_players(@game, false)

  - if @game.upcoming? && @game.on?
    %p
      = link_to game_path(@game, format: 'ics') do
        = content_tag(:i, nil, class: 'icon-calendar')
        Add it to your calendar

= render 'player_actions' if @game.upcoming? && @game.on? && @player.present?
= render 'admin_actions' if admin?

