.subnav
  %ul.nav.nav-pills
    %li= link_to 'Send a Reminder', '#', id: 'send-reminder-link'

= render layout: 'layouts/modal', locals: { id: 'reminder-modal', title: 'Send a Reminder', url: notify_game_path(@game), button: 'Send' } do
  %p
    For the game on
    %strong= game_date(@game)

  .control-group
    = label_tag 'Message'
    .controls
      = text_area_tag :message, 'Who can make it?', rows: 5
