.page-header
  %h1 Games
  = render 'actions'

%p.lead= Schedule.instance

%table.table.table-striped.games
  %thead
    %tr
      %th.date Date
      %th.location Location
      %th.players Players
      %th.actions
  %tbody
    - @games.each do |game|
      %tr
        %td.name= link_to game_date(game), game
        %td.location= game.location
        %td.players= pluralize(game.players.count, 'player')
        %td.actions
          = link_to 'Edit', edit_game_path(game), :class => 'btn btn-mini'
