.page-header
  %h1 Games
  = render 'actions'

%p.lead= Schedule.instance

%table.table.table-striped.games
  %thead
    %tr
      %td.status
      %th.date Date
      %th.location Location
      %th.players Players
  %tbody
    - @games.each do |game|
      %tr{class: game.canceled? ? 'canceled' : 'active'}
        %td.status= game_status(game)
        %td.name= link_to game_date(game), game
        %td.location= game.location
        %td.players= game.canceled? ? '—' : pluralize(game.players.count, 'player')
