- layout.page_title = 'Games'

.page-header
  %h1 Games
  - if authorizer.admin?
    .subnav
      %ul.nav.nav-pills
        - if Game.upcoming.empty?
          %li= link_to "Schedule #{Schedule.instance.day}’s Game", schedule_games_path
        %li= link_to 'Change the Schedule', edit_schedule_path


%p.lead= Schedule.instance

%table.table.table-striped.games
  %thead
    %tr
      %th.date Date
      %th.location Location
      %th.players Attendance
  %tbody
    - games.each do |game|
      %tr{class: game.canceled? ? 'canceled' : 'on'}
        %td.name= link_to(game.canceled? ? "#{game.date} (canceled)" : game.date, game)
        %td.location= game.location
        %td.players= game.canceled? ? '—' : pluralize(game.confirmed_players.count, 'player')
