.page-header
  %h1 Games

%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Location
      %th Attendance
      %th
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game_date(game), game
        %td= game.location
        %td= pluralize(game.players.count, 'player')
        %td
          = link_to 'Edit', edit_game_path(game), :class => 'btn btn-mini'

- if Game.upcoming.empty?
  = button_to "Schedule Next Week's Game", schedule_games_path, class: 'btn btn-primary'
