- layout.page_title = 'Next Game'

.page-header
  %h1 Next Game
  = render 'actions'

- if @game
  - if @game.canceled?
    %p.lead It’s canceled. Maybe next week!
  - else
    = render @game

  = render 'reminder'
  = render 'cancellation'
  = render 'reschedule'

- else
  %p.lead Nothing scheduled yet.
