- layout.page_title = "Game ##{@game.id}"

.page-header
  %h1
    = "Game ##{@game.id}"
    = '(Canceled)' if @game.canceled?
  = render 'actions'

= render @game

= render 'reminder'
= render 'cancellation'
= render 'reschedule'
