= form_for player do |f|
  .row.mb-3
    = f.label :first_name, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-6.col-lg-3
      = f.text_field :first_name, class: 'form-control'

  .row.mb-3
    = f.label :last_name, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-6.col-lg-3
      = f.text_field :last_name, class: 'form-control'

  .row.mb-3
    = f.label :email, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-6.col-lg-3
      = f.text_field :email, class: 'form-control'

  .row.mb-3
    = f.label :phone, class: 'col-form-label col-12 col-md-2'
    .col-12.col-md-6.col-lg-3
      = f.text_field :phone, class: 'form-control'
      %small.form-text.text-muted Optional

  .row.mb-3
    .col-12.offset-md-2.col-md-10
      .form-check
        = f.check_box :retired, class: 'form-check-input'
        = f.label :retired, class: 'form-check-label'

  .row
    .col-12.offset-md-2.col-md-10
      = f.submit class: 'btn btn-primary'
      = link_to 'Go Back', players_path, class: 'btn btn-link'
