%tr
  %td.icon= player.icon
  %td.name= authorizer.admin? ? link_to(player.name, "mailto:#{player.email}") : player.name
  %td.attendance= player.attendance

  - if authorizer.admin?
    %td.phone= player.phone
    %td.actions
      = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-edit'), edit_player_path(player)
      = link_to content_tag(:i, nil, class: 'glyphicon glyphicon-remove'), player_path(player), :method => :delete, :data => { :confirm => 'Delete this player?' }
