%tr{class: player.css_class}
  %td.icon= player.attendance_icon
  %td.name= authorizer.admin? ? link_to(player.name, "mailto:#{player.email}") : player.name
  %td.attendance= player.attendance

  - if authorizer.admin?
    %td.phone= player.phone
    %td.actions
      = player.edit_link
      = player.remove_link
