- layout.page_title = 'Players'

.page-header
  %h1 Players
  = render 'actions'

.row
  .col-12.col-lg-6
    %h3.visually-hidden Everyone

    .table-responsive
      %table.table.table-hover.players
        %thead.thead-dark
          %tr
            %th.icon
            %th.name Name
            %th.attendance Attendance

            - if authorizer.admin?
              %th.phone Phone
              %th.actions

        %tbody
          = render players

  .col-12.col-lg-6
    %h3.visually-hidden By Games Played

    = form_with url: ranked_players_url(format: 'json'),
        class: 'mt-4',
        data: { controller: 'player-chart', action: 'player-chart#load:prevent' } do |f|
      .d-flex.justify-content-center.align-items-center.my-3.w-50.mx-auto
        = f.label :since, 'Past'

        .input-group.mx-3
          = f.text_field :since, value: 6, class: 'form-control', data: { player_chart_target: 'input' }
          %span.input-group-text Months

        = f.submit 'Go', class: 'btn btn-primary'

      %canvas{ data: { player_chart_target: 'chart' } }
