= simple_format(@body)

%p
  %strong When:
  = @game.date
  %br
  %strong Where:
  = link_to @location.name, @location.url

%p
  = link_to @confirmation, respond_game_url(@game, access_token: @player.access_token, playing: 'yes')
  %span.separator /
  = link_to @rejection, respond_game_url(@game, access_token: @player.access_token, playing: 'no'), class: 'text-secondary'

%p
  You can also
  = link_to 'see who's playing', game_url(@game, access_token: @player.access_token)
  or
  = link_to('unsubscribe', new_removal_url(access_token: @player.access_token)) + '.'
