= simple_format(@body)

%p
  %strong When:
  = @game.date
  %br
  %strong Where:
  = @game.location

%p
  = link_to @confirmation, respond_game_url(@game, access_token: @player.access_token, playing: 'yes'), class: 'acceptance'
  |
  = link_to @rejection, respond_game_url(@game, access_token: @player.access_token, playing: 'no'), class: 'declination'
  |
  = link_to 'Show me who’s playing', game_url(@game), class: 'postponement'
