%p= @message

%p
  %strong When:
  = @game.starts_at.strftime(GamesHelper::DATE_FORMAT)
  %br
  %strong Where:
  = @game.location

%p= link_to 'See who’s playing', game_url(@game)

%p#links
  = link_to @positive_response, respond_game_url(@game, access_token: @player.access_token, playing: 'yes'), class: 'btn btn-primary'
  = link_to @negative_response, respond_game_url(@game, access_token: @player.access_token, playing: 'no'), class: 'btn'
