.modal.hide(id=id)
  .modal-header
    %h3= title

  = form_tag url do
    .modal-body
      = yield

    .modal-footer
      = button_tag 'Close', type: 'button', class: 'btn', data: { dismiss: 'modal' }
      = submit_tag button, class: 'btn btn-primary'
