!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags

    %title= layout.full_page_title

    = stylesheet_link_tag 'application'
    = javascript_packs_with_chunks_tag 'application'

  %body{class: layout.body_class}
    %nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(data-target="#navbar-main" data-toggle="collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Foxy Lady Ultimate', root_path, class: 'navbar-brand'

        .collapse.navbar-collapse#navbar-main
          %ul.nav.navbar-nav
            %li= link_to 'Games', games_path
            %li= link_to 'Players', players_path

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'Change Your Password', edit_user_registration_path
              %li= link_to "Sign Out #{current_user.first_name}", destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Sign In', new_user_session_path

    .container
      .row
        .col-md-12
          = layout.flash_messages(flash)
          = yield
