!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    = csrf_meta_tags

    %title= layout.full_page_title

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

  %body{class: layout.body_class}
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        = link_to 'Foxy Lady Ultimate', root_path, class: 'navbar-brand'

        %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation")
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#navbar-main
          %ul.navbar-nav.me-auto
            = layout.nav_link 'Games', games_path
            = layout.nav_link 'Players', players_path
            = layout.nav_link 'Quips', quips_path if authorizer.admin?

          %ul.navbar-nav.ms-auto
            - if user_signed_in?
              = layout.nav_link 'Change Your Password', edit_user_registration_path
              = layout.nav_link "Sign Out #{current_user.first_name}", destroy_user_session_path, method: :delete
            - else
              = layout.nav_link 'Sign In', new_user_session_path

    .container
      = layout.flash_messages
      = yield
